* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    color: #333;
    font-family: system-ui, sans-serif;
  }
  h1 {
    font-size: 28px;
    color: #1A1363;
  }
  h4 {
    margin-left: 110px;
    margin-top: 15px;
  }
  main {
    padding: 30px;
  }
  #f-container{
    display:flex;
    flex-direction: row;
  }
  #c1-container
  {
    margin-top: 50px;
  }
  #c2-container
  {
    margin-left: 150px;
  }
  form {
    margin-left: 200px;
  }
  
  .form-group {
    margin-top: 10px;
    color: #1A1363;
  }
  .form-label,
  .form-input {
    display: block;
  }
  
  .form-label {
    font-weight: 600;
  }
  
  .form-input {
    width: 240px;
    height: 34px;
    margin-top: 8px;
    padding: 4px 8px;
    border: 2px solid #332F64;
    border-radius: 8px;
  }
  
  .form-group .btn {
    margin-top: 20px;
    padding: 10px 100px;
    border: 1px solid transparent;
    border-radius: 8px;
    color: #fff;
    font:bolder;
    background: #1A1363;
    cursor: pointer;
  }
  .form-group .btn:hover {
    opacity: 0.9;
  }
  
  /* bỏ user select khi click vào label */
  label {
    user-select: none;
  }
  
  .checkbox-group label {
    position: relative;
    display: inline-flex;
    align-items: center;
  }
  
  .checkbox-group label::before,
  .checkbox-group label::after {
    content: "";
    display: inline-block;
  }
  
  .checkbox-group label::before {
    margin-right: 10px;
    width: 14px;
    height: 14px;
    border: 1px solid #1A1363;
    border-radius: 4px;
  }
  
  .checkbox-group [type="checkbox"]:checked ~ label::before {
    background-color: #1A1363;
  }
  
  .checkbox-group [type="checkbox"]:checked ~ label::after {
    width: 8px;
    height: 4px;
    position: absolute;
    left: 3px;
    top: 6px;
    border-left: 2px solid #000;
    border-bottom: 2px solid #000;
    rotate: -45deg;
  }
  .form-group .login
  {
    text-decoration: none
  }
  .login 
  {
    margin-left: 100px;
  }
 