* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

#main {
    display: flex;
    height: 100vh;
    width: 100vw;
}

#sidebar {
    position: relative; /* Cho phép các thành phần bên trong sử dụng position absolute so với sidebar */
    height: 100vh;
    width: 20vw; /* Điều chỉnh chiều rộng của sidebar để hợp lý hơn */
    background-color: #1a1363;
    float: left;
}

#logout {
    position: absolute; /* Cố định vị trí của nút logout so với sidebar */
    bottom: 10px; /* Khoảng cách từ đáy của sidebar */
    left: 20%; /* Đẩy nút ra giữa một chút so với cạnh trái của sidebar */
    width: 60%; /* Độ rộng của nút được điều chỉnh để phù hợp với thiết kế */
    background-color: #1a1363;
    border: none;
    border-radius: 100px;
    padding: 10px 0; /* Điều chỉnh đệm cho phù hợp */
    color: #fff;
    text-align: center; /* Căn giữa text trong nút */
    font-size: 16px; /* Điều chỉnh kích thước chữ */
    cursor: pointer; /* Cho biết đây là nút có thể nhấp */
}

#logout-text {
    margin: 0; /* Xóa margin để text ở giữa nút */
}


#nav-item {
    margin-left: 6%;
    margin-top: 7%;
    background-color: #ece9e9;
    border: none;
    width: 95%;
    padding: 1% 1% 1%;
    border-radius: 100px;
}

#nav-item-txt {
    color: #1a1363;
    margin: 5%;
    font-size: 16px;
    font-weight: bold;
}

#nav-link-dashboard {
    margin-left: 20%;
    background-color: #1a1363;
    border: none;
    width: 55%;
}

#nav-text-dashboard {
    color: #fff;
    margin: 5%;
    font-size: 16px;
}

#nav-link-staff {
    margin-top: 8%;
    margin-left: 20%;
    background-color: #1a1363;
    border: none;
    width: 35%;
}

#nav-text-staff {
    color: #fff;
    margin: 5%;
    font-size: 16px;
}

#nav-link-plan {
    margin-left: 20%;
    margin-top: 8%;
    background-color: #1a1363;
    border: none;
    width: 35%;
}

#nav-text-plan {
    color: #fff;
    margin: 5%;
    font-size: 16px;
}

#nav-link-payment {
    margin-left: 20%;
    margin-top: 8%;
    background-color: #1a1363;
    border: none;
    width: 48%;
}

#nav-text-payment {
    color: #fff;
    margin: 5%;
    font-size: 16px;
}

#nav-link-inventory {
    margin-left: 20%;
    margin-top: 8%;
    background-color: #1a1363;
    border: none;
    width: 50%;
}

#nav-text-inventory {
    color: #fff;
    margin: 5%;
    font-size: 16px;
}

#nav-link-member {
    margin-left: 20%;
    margin-top: 8%;
    background-color: #1a1363;
    border: none;
    width: 64%;
}

#nav-text-member {
    color: #fff;
    margin: 5%;
    font-size: 16px;
}

#nav-link-coaches {
    margin-left: 20%;
    margin-top: 8%;
    background-color: #1a1363;
    border: none;
    width: 50%;
}

#nav-text-coaches {
    color: #fff;
    margin: 5%;
    font-size: 16px;
}

#nav-link-report {
    margin-left: 20%;
    margin-top: 8%;
    background-color: #1a1363;
    border: none;
    width: 43%;
}

#nav-text-report {
    color: #fff;
    margin: 5%;
    font-size: 16px;
}

#user-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20%;
}

#admin-name {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    margin-top: 5%;
    margin-bottom: 20%;
}

#maincontent {
    flex-grow: 1; /* Còn lại sẽ được lấp đầy bởi maincontent */
    height: 100vh;
    background-color: #ece9e9;
}
/* Logo và cái chuông */
#header {
    width: 100%;
    height: 10vh; /* Cố định chiều cao của header */
    display: flex;
    align-items: center;
}

#body {
    width: 100%;
    height: 90vh; /* Chiều cao còn lại sau header */
    display: flex;
    flex-direction: column;
    overflow: auto; /* Thêm thanh cuộn nếu cần */
}

#logo {
    margin-left: 2%;
}

#bell {
    margin-left: 75%;
    border: none;
    background-color: #ece9e9;
}

/* phần nội dung chính */
#admin-info {
    font-size: 200%;
    margin-top: 1%;
    margin-left: 2%;
    color: #1a1363;
}

#f-container {
    display: flex;
    justify-content: space-between; /* Đảm bảo khoảng cách giữa các container */
    align-items: flex-start; /* Căn hàng đầu các container */
    margin-top: 1%;
    width: 100%;
    height: auto; /* Đủ chiều cao để chứa tất cả nội dung */
}

#c1-container, #c2-container {
    flex-grow: 1;  /* Cho phép các container này mở rộng một cách linh hoạt */
    padding: 20px; /* Thêm padding để không gian bên trong thoải mái hơn */
    display: flex;
    flex-direction: column;
    justify-content: space-around; /* Phân bố đều các thành phần con */
}

/* Điều chỉnh khoảng cách giữa c1-container và c2-container */
#c1-container {
    margin-right: 10px; /* Giảm khoảng cách phải để làm cho các container gần nhau hơn */
}

#c2-container {
    margin-left: 10px; /* Giảm khoảng cách trái để làm cho các container gần nhau hơn */
}

#info-box, #infochange-box, #passchange-box {
    margin-bottom: 10px; /* Đảm bảo có khoảng cách giữa các hộp */
    padding: 15px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background-color: #fff;
    border-radius: 10px;
}

#infobox-icon {
    display: flex; 
    flex-direction: column;
    align-items: center; 
    justify-content: center; 

}

#admin-profile {
    margin-top: 3%;
    margin-bottom: 7%;
}

#username {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    flex-direction: row;
    margin-bottom: 5%;
}

#contactno {
    display: flex; 
    justify-content: space-between;
    align-items: center; 
    flex-direction: row;
    margin-bottom: 5%;
}

#email {
    margin-bottom: 3%;
}

#register {
    width: 100%;
    height: 5%;
    border-radius: 100px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background-color: #1a1363;
    font: 700 17px sans-serif;
    display: flex;
    justify-content: center;
    color: #fff;
    margin-top: 5%;
}


#infochange-box .username {
    margin-left: 7%;
    margin-top: 7%;
    font-weight: bold;
}

#infochange-box .contact {
    margin-left: 7%;
    margin-top: 3%;
    font-weight: bold;
}

#infochange-box .email {
    margin-left: 7%;
    margin-top: 3%;
    font-weight: bold;
}

#infochange-box .inputbox {
    width: 85%;
    margin-left: 7%;
    margin-top: 0.5%;
}

#infochange-box .inputbox input[type="text"] {
    border-radius: 100px;
    border: none;
    width: 100%;
    height: 100%;
    background-color: #ece9e9;
    padding: 7px 15px 7px;
    font-size: 16px;
}

#infochange-box .button #save {
    margin-top: 4%;
    margin-left: 50%;
    font-weight: bold;
    font-size: 16px;
    color: #fff;
    background-color: #1a1363;
    width: 19%;
    border-radius: 100px;
    padding: 1%;
}

#infochange-box .button #cancel {
    margin-top: 4%;
    margin-left: 1%;
    font-weight: bold;
    font-size: 16px;
    color: #1a1363;
    background-color: #fff;
    width: 21%;
    border-radius: 100px;
    padding: 1%;
}


#passchange-box .password {
    font-weight: bold;
    margin-left: 41.5%;
    margin-top: 3%;
}

#passchange-box .curpass {
    margin-left: 7%;
    margin-top: 3%;
    font-weight: bold;
}
#passchange-box .newpass {
    margin-left: 7%;
    margin-top: 3%;
    font-weight: bold;
}
#passchange-box .retype-newpass {
    margin-left: 7%;
    margin-top: 3%;
    font-weight: bold;
}

#passchange-box .inputbox {
    width: 85%;
    margin-left: 7%;
    margin-top: 0.5%;
}

#passchange-box .inputbox input[type="text"] {
    border-radius: 100px;
    border: none;
    width: 100%;
    height: 100%;
    background-color: #ece9e9;
    padding: 7px 15px 7px;
    font-size: 16px;
}

#passchange-box .button #change {
    margin-top: 2%;
    margin-left: 48%;
    font-weight: bold;
    font-size: 16px;
    color: #fff;
    background-color: #1a1363;
    width: 22%;
    border-radius: 100px;
    padding: 1%;
}

#passchange-box .button #clear {
    margin-top: 2%;
    margin-left: 1%;
    font-weight: bold;
    font-size: 16px;
    color: #1a1363;
    background-color: #fff;
    width: 21%;
    border-radius: 100px;
    padding: 1%;
}