* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* sidebar và các thành phần bên trong */
#sidebar {
    height: 100vh;
    width: 16vw;
    background-color: #1a1363;
}

#nav-item {
    display: flex;
    align-items: center;
    margin-left: 16%;
    margin-top: 2%;
    background-color: #ece9e9;
    border: none;
    width: 95%;
    padding-left: 3%;
    border-radius: 100px;
}

#nav-item-txt {
    color: #1a1363;
    margin: 4%;
    font-size: 16px;
    font-weight: bold;
}

#nav-link-dashboard {
    display: flex;
    align-items: center;
    margin-left: 20%;
    background-color: #1a1363;
    border: none;
    width: 55%;
}

#nav-text-dashboard {
    color: #fff;
    margin: 5%;
    font-size: 16px;
}

#nav-link-member {
    display: flex;
    align-items: center;
    margin-top: 5%;
    margin-left: 20%;
    background-color: #1a1363;
    border: none;
    width: 55%;
}

#nav-text-member {
    color: #fff;
    margin: 5%;
    font-size: 16px;
}

#nav-link-plan {
    display: flex;
    align-items: center;
    margin-left: 20%;
    margin-top: 6%;
    background-color: #1a1363;
    border: none;
    width: 35%;
}

#nav-text-plan {
    color: #fff;
    margin: 5%;
    font-size: 16px;
}

#nav-link-payment {   
    display: flex;
    align-items: center;
    margin-left: 20%;
    margin-top: 5%;
    background-color: #1a1363;
    border: none;
    width: 48%;
}

#nav-text-payment {
    color: #fff;
    margin: 5%;
    font-size: 16px;
}

#nav-link-inventory { 
    display: flex;
    align-items: center;
    margin-left: 20%;
    margin-top: 5%;
    background-color: #1a1363;
    border: none;
    width: 50%;
}

#nav-text-inventory {
    color: #fff;
    margin: 5%;
    font-size: 16px;
}

#nav-link-profile {   
    display: flex;
    align-items: center;
    margin-left: 20%;
    margin-top: 4%;
    background-color: #1a1363;
    border: none;
    width: 64%;
}

#nav-text-profile {
    color: #fff;
    margin: 5%;
    font-size: 16px;
}

#nav-link-coaches {   
    display: flex;
    align-items: center;
    margin-left: 20%;
    margin-top: 3%;
    background-color: #1a1363;
    border: none;
    width: 50%;
}

#nav-text-coaches {
    color: #fff;
    margin: 5%;
    font-size: 16px;
}

#nav-link-report {    
    display: flex;
    align-items: center;
    margin-left: 20%;
    margin-top: 5%;
    background-color: #1a1363;
    border: none;
    width: 43%;
}

#nav-text-report {
    color: #fff;
    margin: 5%;
    font-size: 16px;
}

#user-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20%;
}

#admin-name {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    margin-top: 5%;
    margin-bottom: 20%;
}

#logout {    
    display: flex;
    align-items: center;
    margin-top: 55%;
    margin-left: 20%;
    background-color: #1a1363;
    border: none;
    width: 40%;
}

#logout-text {
    color: #fff;
    margin-left: 5%;
    font-size: 16px;
}

#maincontent {
    width: 84vw;
    height: 100vh;
    background-color: #ece9e9;
    position: absolute;
    top: 0;
    right: 0;
}

/* Logo và cái chuông */
#header {
    width: 100%;
    height: 7%;
    display: flex;
}

#logo {
    margin-left: 3%;
}

#bell {
    margin-top: 3%;
    margin-left: 75%;
    border: none;
    background-color: #ece9e9;
}

/* phần nội dung chính */
#body {
    width: 100%;
    height: 93%;
    display: flex;
    flex-direction: column;
}

#admin-info {
    font-size: 200%;
    margin-top: 5%;
    margin-left: 4%;
    color: #1a1363;
}

#new-member {
    width: 15%;
    height: auto;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    margin-top: 1%;
    margin-left: 4%;
    padding: 2px 1px 2px;
    color: #fff;
    background-color: #5d57a3;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    display: none;
}

#addstaff_box {
    width: 40%;
    height: 40%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 11px;
    padding: 20px;
    display: none;
}

#new-member:active ~ #overlay {
    display: block;
}

#new-member:active ~ #addstaff_box {
    display: block;
}

#add-staff {
    font-size: 18px;
    font-weight: bold;
}

#row1 {
    display: flex;
    font-weight: bold;
    margin-top: 3%;
}

#password {
    margin-left: 40%;
}

#row2 {
    display: flex;
    margin-top: 1%;
}

#username-box {
    height: 100%;
    width: 100%;
}

#username-box input[type="text"] {
    width: 100%;
    height: 100%;
    border-radius: 11px;
    font-size: 16px;
    padding: 1% 1px 1%;
    border: none;
    background-color: #ece9e9;
}


#password-box {
    height: 100%;
    width: 100%;
    margin-left: 7%;
}

#password-box input[type="text"] {
    width: 100%;
    height: 100%;
    border-radius: 11px;
    font-size: 16px;
    padding: 1% 1px 1%;
    border: none;
    background-color: #ece9e9;
}

#row3 {
    display: flex;
    font-weight: bold;
    margin-top: 2%;
}

#email {
    margin-left: 39%;
}

#row4 {
    display: flex;
    margin-top: 1%;
}

#name-box {
    height: 100%;
    width: 100%;
}

#name-box input[type="text"] {
    width: 100%;
    height: 100%;
    border-radius: 11px;
    font-size: 16px;
    padding: 1% 1px 1%;
    border: none;
    background-color: #ece9e9;
}


#email-box {
    height: 100%;
    width: 100%;
    margin-left: 7%;
}

#email-box input[type="text"] {
    width: 100%;
    height: 100%;
    border-radius: 11px;
    font-size: 16px;
    padding: 1% 1px 1%;
    border: none;
    background-color: #ece9e9;
}

#row5 {
    display: flex;
    font-weight: bold;
    margin-top: 2%;
}

#salary {
    margin-left: 34%;
}

#row6 {
    display: flex;
    margin-top: 1%;
}

#phone-box {
    height: 100%;
    width: 100%;
}

#phone-box input[type="text"] {
    width: 100%;
    height: 100%;
    border-radius: 11px;
    font-size: 16px;
    padding: 1% 1px 1%;
    border: none;
    background-color: #ece9e9;
}

#salary-box {
    height: 100%;
    width: 100%;
    margin-left: 5%;
}

#salary-box input[type="text"] {
    width: 100%;
    height: 100%;
    border-radius: 11px;
    font-size: 16px;
    padding: 1% 1px 1%;
    border: none;
    background-color: #ece9e9;
}

#row7 {
    margin-top: 6%;
    margin-left: 65%;
}

#add {
    width: 35%;
    padding: 1% 10px 1%;
    border-radius: 11px;
    font-weight: bold;
    color: #fff;
    background-color: #1a1363;
}

#cancel {
    width: 35%;
    padding: 1% 10px 1%;
    border-radius: 11px;
    font-weight: bold;
    color: #1a1363;
    background-color: #fff;
    margin-left: 3%;
}

#container {
    width: 80%;
    height: 75%;
    background-color: #77749b;
    border-radius: 25px;
    margin-top: 1.5%;
    margin-left: 4%;
}

#gym-members {
    font-weight: bold;
    font-size: 25px;
    color: #fffadf;
    margin-top: 2.5%;
    margin-left: 4%;
}

#buttonbox1 {
    display: flex;
    align-items: center;
    width: 100%;
    height: 5%;
    margin-top: 2%;
    margin-left: 4%;
}

#entry {
    font-size: 13px;
    color: #fffadf;
}

#entry-select {
    width: 4%;
    height: 100%;
    border-radius: 10px;
    padding: 1px;
    font-size: 17px;
    color: #fff;
    background-color: #5d57a3;
    margin-left: 1%;
}

#searchbox {
    width: 15%;
    height: 100%;
    margin-left: 55%;
}

#searchbox input[type="text"] {
    width: 100%;
    height: 100%;
    color: #fff;
    background-color: #5d57a3;
    font-size: 17px;
    border: none;
    border-radius: 10px;
    padding-left: 10%;
    padding-top: 3%;
    padding-bottom: 3%;
}

.search-button {
    margin-left: 1.5%;
    border: none;
    background-color: transparent;
}

#container table {
    height: 70%;
    width: 90%;
    margin-top: 2%;
    margin-left: 4%;
}

#container table thead {
    font-size: 14;
    font-weight: bold;
    color: #fffadf;
}

#buttonbox2 {
    width: 20%;
    height: auto;
    margin-left: 75%;
}

#previous {
    width: 45%;
    height: 100%;
    background-color: #5d57a3;
    color: #fff;
    border: none;
    border-radius: 10px;
    font-size: 17px;
    padding: 4px;
}

#next {
    width: 40%;
    height: 100%;
    background-color: #5d57a3;
    color: #fff;
    border: none;
    border-radius: 10px;
    font-size: 17px;
    padding: 4px;
}