* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

#main {
    display: flex;
    height: 100vh;
    width: 100vw;
}

#sidebar {
    position: relative;
    height: 100vh;
    width: 20vw;
    background-color: #1a1363;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

.nav-button {
    width: 80%;
    padding: 10px;
    border: none;
    background-color: #1a1363;
    color: white;
    border-radius: 20px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.nav-button img {
    margin-right: 10px;
}

.nav-button span {
    font-size: 16px;
}

.nav-button:hover, .nav-button.active {
    background-color: #ece9e9;
    transform: scale(1.05);
}

.nav-button:hover span, .nav-button.active span {
    color: #1a1363;
}

#logout {
    position: absolute; /* Cố định vị trí của nút logout so với sidebar */
    bottom: 10px; /* Khoảng cách từ đáy của sidebar */
    left: 20%; /* Đẩy nút ra giữa một chút so với cạnh trái của sidebar */
    width: 60%; /* Độ rộng của nút được điều chỉnh để phù hợp với thiết kế */
    background-color: #1a1363;
    border: none;
    border-radius: 100px;
    padding: 10px 0; /* Điều chỉnh đệm cho phù hợp */
    color: #fff;
    text-align: center; /* Căn giữa text trong nút */
    font-size: 16px; /* Điều chỉnh kích thước chữ */
    cursor: pointer; /* Cho biết đây là nút có thể nhấp */
}

#logout-text {
    margin: 0; /* Xóa margin để text ở giữa nút */
}

#user-logo img {
    width: 30px;
    height: auto;
}

#user-name {
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 30px;
}

#maincontent {
    flex: 1; /* Thay vì đặt chiều rộng cố định, cho phép nó chiếm phần còn lại của màn hình */
    background-color: #ece9e9;
    display: flex;
    flex-direction: column;
    overflow: hidden; /* Ngăn chặn tràn nội dung */
}


#header {
    width: 100%;
    min-height: 7vh; /* Sử dụng min-height để duy trì không gian tối thiểu */
    display: flex;
    align-items: center; /* Căn chỉnh các mục theo chiều dọc ở giữa */
}

#logo {
    margin-left: 2%;
}

#feedback {
    margin-left: 55%;
    color: #1A1363;
}
#bell {
    margin-left: 5%;
    border: none;
    background-color: #ece9e9;
}
#user-info {
    font-size: 200%;
    margin-top: 1%;
    margin-left: 2%;
    color: #1a1363;
}
#body {
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

#f-container {
    display: flex;
    justify-content: space-between; /* Đảm bảo khoảng cách giữa các container */
    align-items: flex-start; /* Căn hàng đầu các container */
    margin-top: 1%;
    width: 100%;
    height: auto; /* Đủ chiều cao để chứa tất cả nội dung */
}

#c1-container, #c2-container {
    flex-grow: 1;  /* Cho phép các container này mở rộng một cách linh hoạt */
    padding: 20px; /* Thêm padding để không gian bên trong thoải mái hơn */
    display: flex;
    flex-direction: column;
    justify-content: space-around; /* Phân bố đều các thành phần con */
}

/* Điều chỉnh khoảng cách giữa c1-container và c2-container */
#c1-container {
    margin-right: 10px; /* Giảm khoảng cách phải để làm cho các container gần nhau hơn */
}

#c2-container {
    margin-left: 10px; /* Giảm khoảng cách trái để làm cho các container gần nhau hơn */
}

#info-box, #infochange-box, #passchange-box {
    margin-bottom: 10px; /* Đảm bảo có khoảng cách giữa các hộp */
    padding: 15px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background-color: #fff;
    border-radius: 10px;
}
#passchange-box .password {
    font-weight: bold;
    margin-left: 41.5%;
    margin-top: 3%;
    color: #1a1363;
}
#passchange-box .curpass, .newpass, .retype-newpass {
    font-weight: bold;
    margin-top: 3%;
    margin-bottom: 1%;
}
#infobox-icon {
    display: flex; 
    flex-direction: column;
    align-items: center; 
    justify-content: center; 

}
#admin-profile {
    margin-top: 3%;
    margin-bottom: 7%;
}

#username {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    flex-direction: row;
    margin-bottom: 5%;
}

#contactno {
    display: flex; 
    justify-content: space-between;
    align-items: center; 
    flex-direction: row;
    margin-bottom: 5%;
}

#email {
    display: flex; 
    justify-content: space-between;
    align-items: center; 
    flex-direction: row;
    margin-bottom: 5%;
}
#infochange-box .username, .contact, .email {
    font-weight: bold;
    margin-top: 3%;
    margin-bottom: 1%;
}

#infochange-box .inputbox input[type="text"],
#passchange-box .inputbox input[type="text"] {
    border-radius: 100px;
    border: none;
    width: 100%;
    height: 100%;
    background-color: #ece9e9;
    padding: 7px 15px;
    font-size: 16px;
}

#infochange-box .button, #passchange-box .button {
    display: flex;
    justify-content: start;
    margin-top: 4%;
}

#infochange-box .button button, #passchange-box .button button {
    font-weight: bold;
    font-size: 16px;
    color: #fff;
    background-color: #1a1363;
    border-radius: 100px;
    padding: 1%;
    width: 20%;
    margin-right: 2%;
}

#infochange-box .button button#cancel,
#passchange-box .button button#clear {
    color: #1a1363;
    background-color: #fff;
}
